{{ define "main"}}

{{ partial "header.html" . }}

<div class="ui relaxed grid dream-grid">
  <!-- For backward compatible, it's needed to filter out the about pages to prevent them from being rendered -->
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "!=" "about") }}
  {{ range $paginator.Pages }}
  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ .Render "summary" }}
  </div>
  {{ end }}

  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ partial "paginator.html" (dict "paginator" $paginator "Site" .Site) }}
  </div>
</div>
{{ end }}

{{ define "js" }}
<script src="{{ "/js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/grid.js" | relURL }}"></script>

<!-- Hotjar Tracking Code for www.cynthiabelleza.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2352844,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{{ end }}
